h1{
font-family: arial;
color: LightSlateGray;
}

h2{
font-family: arial;
color: LightSlateGray;
}

h3{
  font-family: arial;
  color: LightSlateGray;
}

p{
font-family: arial;
}

body{
background-color: #ccccff;
}
